.main {
   &__front {
      margin: 0 auto;
   }
   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
   }
   &__section {
   }
   &__arrowtop {
      position: fixed;
      bottom: 3rem;
      right: 18.95%;
      display: flex;
      justify-content: center;
      align-items: center;

      width: calc(30px + 1.8rem);
      height: calc(30px + 1.8rem);

      background-color: #6EBBD3;
      border: none;
      cursor: pointer;
      outline: none;

      transition: 0.2s;
      &:hover {
         background-color: #548fa1;
         transform: rotate(-45deg) scale(1.2);
      }
   }
   &__arrowtop-img {
      transition: 0.2s;
      .main__arrowtop:hover & {
         transform: translate(10px,-10px) rotate(45deg);
      }
   }
}