.section {
   &__sorting {
      display: flex;
      padding: 2.19rem 0 2.15rem;
   }
   &__sorting-text {
      margin-left: -0.1rem;
   }
   &__sort {
      margin-left: 3.015rem;
   }
   &__cards {

   }
}