.section {
   width: 100%;
   &__sorting {
      display: flex;
      flex-wrap: wrap;
      padding: 2.19rem 0 2.15rem;
      margin-left: -3.015rem;
      & > * {
         margin-left: 3.015rem;
      }
   }
   &__sorting-text {
   }
   &__sort {
   }
   &__cards {

   }
}