//миксин для подключения файла шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

//подключаемые файлы
//lvl-0
@import "./fonts.scss";
@import "./reset.scss";
//lvl-1
@import "./html/html.scss";
@import "./text/text.scss";
@import "./link/link.scss";
//lvl-2
@import "./body/body.scss";
@import "./header/header.scss";
@import "./main/main.scss";
@import "./footer/footer.scss";
@import "./modal/modal.scss";
//lvl-3
@import "./front/front.scss";
//lvl-4
@import "./nav/nav.scss";
@import "./section/section.scss";
@import "./feedback/feedback.scss";
//lvl-5
@import "./sort/sort.scss";
@import "./cards/cards.scss";
//lvl-6
@import "./card/card.scss";
//lvl-top
@import "./state/state.scss";
