@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*источник: https://medium.com/@stasonmars/%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-%D1%81%D0%B1%D1%80%D0%BE%D1%81-css-f5816963c82b */

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

/*article > * + * {
  margin-top: 1em;
}*/

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@-webkit-keyframes autofill {
  to {
    color: #fff;
    background: transparent;
  }
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

html {
  font-size: 16px;
}

.text {
  font-family: 'Montserrat';
}

.text--wt-bold {
  font-weight: 700;
}

.text--wt-norm {
  font-weight: 400;
}

.text--fz-12 {
  font-size: .75rem;
}

.text--fz-14 {
  font-size: .875rem;
}

.text--fz-16 {
  font-size: 1rem;
}

.text--fz-18 {
  font-size: 1.125rem;
}

.text--fz-24 {
  font-size: 1.5rem;
}

.text--fz-28 {
  font-size: 1.75rem;
}

.text--fz-38 {
  font-size: 2.375rem;
}

.text--fz-48 {
  font-size: 3rem;
}

.text--col-white {
  color: #ffffff;
}

.text--col-black {
  color: #000000;
}

.link {
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

*::-moz-selection {
  background: #6EBBD3;
}

*::selection {
  background: #6EBBD3;
}

.header {
  height: 13.1vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 32, 33, 0.79))), url(../img/header-background.jpg) bottom/cover no-repeat;
  background: -o-linear-gradient(rgba(31, 32, 33, 0.79)), url(../img/header-background.jpg) bottom/cover no-repeat;
  background: linear-gradient(rgba(31, 32, 33, 0.79)), url(../img/header-background.jpg) bottom/cover no-repeat;
}

.header__front {
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 3.33% 0 2.3%;
}

.header__logo {
  height: 3.144rem;
  width: 4.875rem;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover {
  opacity: .9;
}

.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__logo-el1 {
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover .header__logo-el1 {
  -webkit-transform: translate(-1px, 1px);
      -ms-transform: translate(-1px, 1px);
          transform: translate(-1px, 1px);
}

.header__logo-el2 {
  right: 0;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__logo:hover .header__logo-el2 {
  -webkit-transform: translate(1px, -1px);
      -ms-transform: translate(1px, -1px);
          transform: translate(1px, -1px);
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 6.25vw;
  margin-top: 0.69rem;
}

.header__feedback {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 0.4rem;
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__tel-number:hover {
  opacity: 0.9;
}

.header__tel-description {
  line-height: 1.22;
}

.header__tel-description:hover {
  opacity: 0.9;
}

.header__info {
  margin-left: -0.2rem;
}

.main__front {
  margin: 0 auto;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.main__arrowtop {
  position: fixed;
  bottom: 3rem;
  right: 18.95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(30px + 1.8rem);
  height: calc(30px + 1.8rem);
  background-color: #6EBBD3;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main__arrowtop:hover {
  background-color: #548fa1;
  -webkit-transform: rotate(-45deg) scale(1.2);
      -ms-transform: rotate(-45deg) scale(1.2);
          transform: rotate(-45deg) scale(1.2);
}

.main__arrowtop-img {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.main__arrowtop:hover .main__arrowtop-img {
  -webkit-transform: translate(10px, -10px) rotate(45deg);
      -ms-transform: translate(10px, -10px) rotate(45deg);
          transform: translate(10px, -10px) rotate(45deg);
}

.footer__front {
  margin: 0 auto;
}

.footer__inner {
  background-color: #1F2021;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem 3.9rem 4.7rem 4rem;
}

.footer__inner > * {
  margin: 1rem;
}

.footer__wg-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42.75%;
          flex: 1 1 42.75%;
}

.footer__wg-info-header {
  margin: 0 0 0 0.1rem;
  line-height: 1;
}

.footer__wg-info-description {
  margin-top: 2rem;
  line-height: 0.95;
  padding: 0 1.2rem 0 0;
}

.footer__wg-subscribe {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57.25%;
          flex: 1 1 57.25%;
}

.front {
  max-width: 1180px;
  height: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:nth-child(2) {
  margin-left: 72px;
}

.nav__item:nth-child(3) {
  margin-left: 59px;
}

.nav__item:nth-child(4) {
  margin-left: 55px;
}

.nav__link:hover {
  opacity: 0.7;
}

.section {
  width: 100%;
}

.section__sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.19rem 0 2.15rem;
}

.section__sort {
  margin-left: 3.015rem;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1.4rem -0.5rem 0;
}

.feedback__form > * {
  margin: 1.5rem 0.5rem 0;
}

.feedback__input-email {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50.5%;
          flex: 1 1 50.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.feedback__input {
  padding: 1.375rem 0 1.5rem 2.1rem;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.feedback__input.__error {
  background-color: #ffd6d6;
}

.feedback__input::-webkit-input-placeholder {
  font-family: 'Montserrat';
  font-size: .875rem;
  font-weight: 400;
  color: #000000;
}

.feedback__input::-moz-placeholder {
  font-family: 'Montserrat';
  font-size: .875rem;
  font-weight: 400;
  color: #000000;
}

.feedback__input:-ms-input-placeholder {
  font-family: 'Montserrat';
  font-size: .875rem;
  font-weight: 400;
  color: #000000;
}

.feedback__input::-ms-input-placeholder {
  font-family: 'Montserrat';
  font-size: .875rem;
  font-weight: 400;
  color: #000000;
}

.feedback__input::placeholder {
  font-family: 'Montserrat';
  font-size: .875rem;
  font-weight: 400;
  color: #000000;
}

.feedback__btn-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42%;
          flex: 1 1 42%;
}

.feedback__btn {
  padding: 1.375rem 4.69rem 1.5rem 4.69rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #6EBBD3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.feedback__btn:hover {
  background-color: #4D8292;
}

.feedback__input-chb {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.feedback__chb-lb {
  position: relative;
  top: -1px;
  left: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.feedback__chb {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__chb--hide:after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.feedback__chb.__error:before {
  background-color: #9e4848 !important;
}

.feedback__chb:before {
  display: inline-block;
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background-color: #6EBBD3;
}

.feedback__chb:before:hover {
  background-color: #4D8292;
}

.feedback__input-chb:hover .feedback__chb:before {
  cursor: pointer;
}

.feedback__chb:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: url(../img/icons/check.svg) center/cover no-repeat;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.feedback__input-chb:hover .feedback__chb:after {
  cursor: pointer;
}

.feedback__chb-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.1rem;
  line-height: 1;
}

.feedback__input-chb:hover .feedback__chb-text {
  cursor: pointer;
  color: #bbbbbb;
}

.feedback__chb.__error + .feedback__chb-text {
  color: #ffd6d6;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #00000000;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.sort__item:not(:first-child) {
  margin-left: 3.4375rem;
}

.sort__item:hover {
  border-bottom: 1px solid #00000028;
}

.sort__item--active {
  border-bottom: 1px solid #000000;
}

.sort__icon {
  margin-left: 0.875rem;
  padding-top: 0.2rem;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.sort__item:nth-child(1) .sort__icon {
  margin-left: 0.92rem;
}

.sort__item:nth-child(2) .sort__icon {
  margin-left: 1.5rem;
}

.sort__item:hover .sort__icon {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px 0;
}

.cards__card-box--first {
  margin-top: -1.64rem;
}

.cards__card {
  margin: 1.64rem 10px 0;
}

.cards__show-block {
  padding: 1.32rem 8.06rem;
  margin: 4rem -0.2rem 5.21rem 0;
  border: 1px solid #cacaca;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  line-height: 1.6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.cards__show-block:hover {
  background-color: #6ebbd31c;
  border: 1px solid #cacaca00;
}

.cards__show-block:after {
  content: attr(data-n);
}

.card {
  position: relative;
  width: 23.75rem;
  cursor: pointer;
}

.card__muzzle-wrapper {
  width: 100%;
  height: 16.5rem;
  overflow: hidden;
}

.card__muzzle {
  height: 100%;
  width: 100%;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  -webkit-transition: 1.5s ease-in;
  -o-transition: 1.5s ease-in;
  transition: 1.5s ease-in;
}

.card:hover .card__muzzle {
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F3F3F3;
  padding: 1.64rem 1.84rem 1.6rem;
}

.card__header {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-bottom: 1.26rem;
}

.card__header:before {
  content: attr(data-name);
}

.card__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: .9rem;
}

.card__info-item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40.4%;
          flex: 1 1 40.4%;
  border-left: 4px solid #6EBBD3;
  padding-left: 1.13rem;
}

.card__info-item:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31%;
          flex: 1 1 31%;
}

.card__info-item:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 28.6%;
          flex: 1 1 28.6%;
}

.card__info-item-d {
  line-height: 0.9375;
}

.card__info-item-d:before {
  content: attr(data-item-d);
}

.card__info-item-h {
  line-height: 1.6;
}

.card__price:before {
  content: attr(data-price);
}

.card__btn {
  position: relative;
  padding: 1.3125rem 0 1.24rem;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: #6EBBD3;
  overflow: hidden;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.card__btn--buy:hover {
  background-color: #4d8292;
}

.card__btn--buy:hover:after {
  opacity: 0.05;
  -webkit-transform: rotate(360deg) scale(2.5);
      -ms-transform: rotate(360deg) scale(2.5);
          transform: rotate(360deg) scale(2.5);
}

.card__btn--buy:after {
  content: '';
  position: absolute;
  display: block;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  background: url(../img/icons/heart.svg) center/contain no-repeat;
  opacity: 0;
  scale: 0;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.card__btn--bought {
  background-color: #1F2021;
}

.card__btn--bought:hover:after {
  opacity: 0.7;
}

.card__btn--bought:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: -o-repeating-linear-gradient(315deg, #00000000 0px, #00000000 5px, #505050 6px, #505050 7px);
  background: repeating-linear-gradient(135deg, #00000000 0px, #00000000 5px, #505050 6px, #505050 7px);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card__btn:before {
  content: attr(data-btn);
  position: relative;
  z-index: 1;
}

.card__widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 2.07rem;
  width: 100%;
  padding: 0 2.0rem 0 2.46rem;
}

.card__widg-sale {
  padding: 0.44rem 1.19rem 0.45rem 1.125rem;
  border-radius: 10px;
  background-color: #E52D2D;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card__widg-sale:hover {
  background-color: #ff0000;
}

.card__widg-sale:before {
  content: attr(data-percent);
}

.card__widg-like-wrap {
  position: relative;
  opacity: 0.5;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.card__widg-like-wrap:hover {
  opacity: 1;
}

.card__widg-like-wrap--active {
  opacity: 1;
}

.card__widg-like-wrap--active:hover {
  opacity: 0.2;
}

.card__widg-like--blue {
  position: absolute;
  top: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.card__widg-like-wrap:hover .card__widg-like--blue {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

._hide {
  display: none;
}

._transparent {
  opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@supports (-webkit-appearance:none){
.header{background:-webkit-gradient(linear, left top, left bottom, from(rgba(31, 32, 33, 0.79))), url(../img/header-background.webp) bottom/cover no-repeat}
.header{background:-o-linear-gradient(rgba(31, 32, 33, 0.79)), url(../img/header-background.webp) bottom/cover no-repeat}
.header{background:linear-gradient(rgba(31, 32, 33, 0.79)), url(../img/header-background.webp) bottom/cover no-repeat}
.feedback__chb:after{background:url(../img/icons/check.svg) center/cover no-repeat}
.card__btn--buy:after{background:url(../img/icons/heart.svg) center/contain no-repeat}
}

 @media (prefers-reduced-motion: reduce){

@supports (-webkit-appearance:none){

}

}
