.cards {
   display: flex;
   flex-direction: column;
   align-items: center;
   &__wrapper {
      width: 100%; //from ie11
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 -10px 0; 
      margin-bottom: 4rem;
   }
   &__card-box {
      width: 100%; //from ie11
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 -10px 0;

      &--first {
         margin-top: -1.64rem;
      }
      &--hide {
         display: none;
      }
   }
   &__card {
      margin: 1.64rem 10px 0;
      flex: 1 0 23.75rem;
   }
   &__pseudo-card {
      height: 0;
      flex: 1 0 23.75rem;
      margin: 0 10px;
   }
   &__show-block {
      padding: 1.32rem 8.06rem;
      margin: 0 -0.2rem 5.21rem 0;

      border: 1px solid #cacaca;
      background-color: transparent;
      border-radius: 10px;
      cursor: pointer;

      line-height: 1.6;

      transition: 0.3s;
      &:hover {
         background-color: #6ebbd31c;
         border: 1px solid #cacaca00;
      }
      &:after {
         content: attr(data-n);
      }
      &._transparent {
         user-select: none;
         cursor: auto;
      }
   }
}


@media (max-width: 860px) {
   .cards{
      &__card {
         flex: 1 1 47%;
      }
   }
}

@media (max-width: 700px) {
   .cards {
      &__wrapper {
         margin-bottom: 2rem;
      }
      &__card {
         flex: 1 1 46%;
      }
      &__show-block {
         display: block;
         align-self: stretch;
         flex: 0 1 100%;
         -ms-flex: none; //for ie11
         margin: 0 10px 3rem;
         padding: 1.32rem 1rem;
      }
   }
}

@media (max-width: 670px) {
   .cards{
      &__card {
         &__info {
            padding: 1rem 0.3rem 0.3rem;
         }
      }
   }
}

@media (max-width: 580px) {
   .cards{
      &__card-box {
         justify-content: center;
      }
      &__card {
         flex: 0 1 80%;
      }
   }
}

@media (max-width: 450px) {
   .cards{
      &__card {
         flex: 0 1 100%;
      }
   }
}
