.header {
   background: linear-gradient(rgba(31, 32, 33, .79),rgba(31, 32, 33, .79)), url(../img/header-background.jpg) bottom / auto no-repeat;
   &__front {
      margin: 0 auto;
   };
   &__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      padding: 3.1% 0 4.8%;

      margin-top: -2.5rem;
      & > * {
         margin-top: 2.5rem;
      }
   }
   &__logo {
      height: 3.2rem;
      width: 4.870rem;
      margin-left: 0.1rem;

      opacity: 1;

      transition: 0.3s;
      &:hover {
         opacity: .9;
      }
   }
   &__logo-link {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 100%;
   }
   &__logo-el1 {
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      transition: 0.3s;
      .header__logo:hover &{
         transform: translate(-1px, 1px);
      }
   }
   &__logo-el2 {
      right: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: right;
      background-size: contain;
      background-repeat: no-repeat;

      transition: 0.3s;
      .header__logo:hover &{
         transform: translate(1px, -1px);
      }
   }
   &__nav {
      flex: 1 1 auto;
      margin-left: 7.5rem;
   }
   &__feedback {
      flex: 0 0 auto;
   }
   &__tel {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
   &__tel-number {
      line-height: 2.3;
      &:hover {
         opacity: 0.9;
      }
   }
   &__tel-description {
      line-height: 0;
      &:hover {
         opacity: 0.9;
      }
   }
   &__info {
      flex: 1 1 100%;   
      margin-left: -0.1rem;
   }
   &__info-text {
      line-height: 1.7;
   }
}

@media (min-width: 1440px), (max-width: 1100px) {
   .header {
      background: linear-gradient(rgba(31, 32, 33, .79),rgba(31, 32, 33, .79)), url(../img/header-background.jpg) bottom / cover no-repeat;
   }
}

@media (max-width: 950px) {
   .header {
      &__inner {
         padding: 10px;
         margin: -10px;
         & > * {
            margin: 10px
         }
      }
      &__info {
         flex: 1 1 auto;  
      }
   }
}

@media (max-width: 800px) {
   .header {
      padding-right: 40px;
      &__logo {
         margin-top: 15px;
      }
      &__nav {
         position: absolute;
         top: 15px;
         right: -50px;
         flex: 0 1 auto;

         width: 50px;
         height: 50px;
         z-index: 2;
         &.__active {
         width: calc(100% + 60px);
         height: 100vh;
         z-index: 2;
         position: absolute;
         top: 0;
         left: -10px;
         }
      }
      &__info {
         flex: 1 0 100%;   
      }
   }
}

@media (max-width: 500px) {
   .header {
      &__feedback {
         flex: 1 0 100%;
      }
      &__tel {
         align-items: flex-start;
      }
      &__info-text-i1 {
         font-size: 1.5rem;  
      }
   }
}