.card {
   position: relative;

   cursor: pointer;
   &--hide {
      display: none;
   }
   &__muzzle-wrapper {
      width: 100%;
      height: 16.5rem;
      overflow: hidden;
   }
   &__muzzle {
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.9;
      transition: 1.5s ease-in;
      .card:hover & {
         opacity: 1;
         transform: scale(1.1);
      }
   }
   &__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      background-color: #F3F3F3;
      padding: 1.64rem 1.84rem 1.6rem;
   }
   &__header {
      flex: 1 0 100%;

      margin-bottom: 1.26rem;
      &:before {
         content: attr(data-name);
      }
   }
   &__info-item {
      display: flex;
      flex-direction: column;
      align-self: flex-start;

      margin-bottom: .9rem;

      &:nth-child(2) { 
         //flex: 1 1 40.4%;
         box-sizing: border-box;
         min-width: 40.4%;  //instead of flex: 1 1 X for IE11
         border-left: 4px solid #6EBBD3;
         padding-left: 1.13rem;
      }
      &:nth-child(3) {
         min-width: 31%; //instead of flex: 1 1 X for IE11
      }
      &:nth-child(4) {
         min-width: 28.6%; //instead of flex: 1 1 X for IE11
      }
   }
   &__info-item-d {
      line-height: 0.9375;
      &:before {
         content: attr(data-item-d);
      }
   }
   &__info-item-h {
      line-height: 1.6;
   }
   &__price {
      &:before {
         content: attr(data-price);
      }
   }
   &__btn {
      position: relative;

      padding: 1.3125rem 0 1.24rem;
      width: 100%;

      cursor: pointer;
      border: none;
      border-radius: 0 0 10px 10px;
      background-color: #6EBBD3;
      overflow: hidden;

      transition: 0.2s ease-in;

      &--buy {
         &:hover {
            background-color: #4d8292;
            &:after {
               opacity: 0.05;
               transform: rotate(360deg) scale(2.5);
            }
         }
         &:after {
            content: '';
            position: absolute;
            display: block;
            top: calc(50% - 1rem);
            left: calc(50% - 1rem);
            width: 50px;
            height: 50px;

            width: 2rem;
            height: 2rem;

            background-color: red;
            background: url(/img/icons/heart.svg) center / contain no-repeat;
            opacity: 0;

            transform: rotate(270deg) scale(0);
            transition: 0.4s ease-in-out;
         }
      }
      &--bought {
         background-color:#1F2021;
         &:hover {
            &:after {
               opacity: 0.7;
            }
         }
         &:after {
            content: '';
            display: block;
            position: absolute;

            top: 0;
            width: 100%;
            height: 100%;
            
            background-color: #414141; //for ie11
            background: repeating-linear-gradient(135deg, #00000000 0px,#00000000 5px, #505050 6px,  #505050 7px);
            opacity: 0;

            transition: 0.3s;
         }
      }
      &:before {
         content: attr(data-btn);
         position: relative;
         z-index: 1;
      }
   }
   &__widgets {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;

      top: 2.07rem;
      width: 100%;
      padding: 0 2.0rem 0 2.46rem;
   }
   &__widg-sale {
      padding: 0.44rem 1.19rem 0.45rem 1.125rem;

      border-radius: 10px;
      background-color: #E52D2D;

      transition: 0.3s;
      &:hover {
         background-color: #ff0000;
      }
      &:before {
         content: attr(data-percent);
      }
   }
   &__widg-like-wrap {
      position: relative;

      opacity: 0.5;
      transition: 0.4s;
      &:hover {
         opacity: 1;
      }
      &--active {
         opacity: 1;
         &:hover {
            opacity: 0.2;
         }
      }
   }
   &__widg-like {
      &--blue {
         position: absolute;
         top: 0;

         transform: scale(0);
         transition: 0.2s;
         .card__widg-like-wrap:hover &{
            transform: scale(1);
         }
      }
   }
}

@media (max-width: 650px) {
   .card {
      &__info {
         padding: 1rem 0.5rem 0.5rem;
      }
   }
}